<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Welcome to Middle</h1>
  <p>Hi <%= @user.name %>,</p>
  <p>You've just signed up for Middle. Your username is: <%= @user.login %></p>
  <p>To login, simply follow this link: <%= @url %>.</p>
  <p>Cheers!</p>
  <p><strong>Middlebot</strong></p>
</body>
</html>
